$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

$color1:#004689;
%icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.pc {
    @media #{$r414} {
        display: none;
    }
}

.mb {
    display: none;
    @media #{$r414} {
        display: block;
    }
}

.post_2_0_0 {
    margin: 20px 0;
    &__right {
        border: 1px solid #ccc;
        padding-top: 20px;
        padding-bottom: 20px;
        &_quang-cao {
            text-align: center;
        }
        &_title-post {
            text-transform: uppercase;
            font-size: 20px;
            color: #0154A2;
            font-weight: bold;
            padding: 20px 20px 10px 10px;
            margin: 0;
        }
        .sapo {
            background-color: #E4F0FB;
            padding: 10px 20px;
            border: 3px solid #C2DFF9;
            border-radius: 4px;
            margin: 20px 0px;
            text-align: justify;
            & {
                font-weight: bold;
                font-size: 14px;
                &::before {
                    content: "";
                    background-image: url('../images/sapo_before.png');
                    display: block;
                    width: 32px;
                    height: 26px;
                    float: left;
                    margin-right: 20px;
                }
                &::after {
                    content: "";
                    background-image: url('../images/sapo_after.png');
                    display: block;
                    width: 32px;
                    height: 26px;
                    float: right;
                }
            }
        }
        .list-menu {
            border: 1px solid #ccc;
            padding: 20px 20px;
            margin-top: 20px;
            width: 60%;
            background-color: #F9F9F9;
            font-weight: 500;
            font-size: 14px;
            .title-list {
                text-align: center;
            }
            .main-list {
                a {
                    display: block;
                    text-decoration: underline;
                    margin-bottom: 5px;
                }
                ul {
                    list-style: none;
                    padding-left: 10px;
                }
            }
        }
        &_chi-tiet {
            padding: 0 10px;
            h2 {
                background-color: #0154A2 !important;
                color: #fff !important;
                align-items: center;
                display: flex !important;
                min-height: 46px;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 18px;
                margin: 20px 0 !important;
                padding: 0 !important;
                &::before {
                    content: "";
                    background-image: url(../images/post-icon.png);
                    display: block;
                    background-repeat: no-repeat;
                    width: 58px;
                    background-position: center;
                    height: 46px;
                    padding: 5px 10px;
                    margin-right: 15px;
                    background-color: #007EFE;
                    border-radius: 5px;
                }
                span {
                    color: #fff!important;
                }
                strong {
                    font-weight: normal!important;
                }
            }
            h5 {
                font-weight: 600;
                color: #000;
                margin: 20px 0 0;
            }
            p {
                text-align: justify;
            }
            .post_info {
                display: flex;
                font-size: 14px;
                justify-content: space-between;
                span {
                    font-weight: bold;
                }
                a {
                    font-weight: 600;
                    &:hover {
                        color: #FF706F;
                        text-decoration: underline;
                    }
                }
                &_box {
                    display: flex;
                    padding-left: 10px;
                    p {
                        padding-left: 10px;
                        margin: 0;
                    }
                }
            }
        }
        .image {
            text-align: center;
            img {
                max-width: 100%;
            }
        }
        .dang-ky {
            text-align: center;
            display: block;
            img {
                max-width: 100%;
            }
        }
        .more {
            margin: 20px 10px;
            h2 {
                background-color: #E29190;
                color: #fff;
                align-items: center;
                display: flex;
                min-height: 46px;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 18px;
                margin-bottom: 0;
                margin: 20px 0 0;
                &::before {
                    content: "";
                    background-image: url(../images/post-icon-search.png);
                    display: block;
                    background-repeat: no-repeat;
                    width: 58px;
                    background-position: center;
                    height: 46px;
                    padding: 5px 10px;
                    margin-right: 15px;
                    background-color: #E06767;
                    border-radius: 5px;
                }
            }
            h5 {
                font-weight: 600;
                color: #000;
                margin: 20px 20px;
            }
            p {
                margin: 0 20px 20px;
            }
            .nd-more {
                padding: 15px;
                border: 2px solid #E29090;
                border-top: none;
                margin: -3px auto 0;
                p {
                    margin: 0;
                }
                a {
                    color: #007EFE;
                    font-size: 17px;
                }
            }
        }
    }
}

@media #{$r768} {
    .post_2_0_0 {
        width: 100%;
        .row {
            .col-md-9 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        &__right {
            &_quang-cao {
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media #{$r414} {
    .post_2_0_0 {
        &__right {
            border: none;
            &_title-post {
                font-size: 16px;
            }
            &_chi-tiet {
                h2 {
                    font-size: 16px;
                }
            }
            .post_info_box {
                justify-content: flex-end;
                width: 100%;
                font-size: 12px;
            }
        }
    }
}

@media #{$r320} {
    .post_2_0_0 {
        &__right {
            .sapo {
                font-size: 12px;
            }
            &_chi-tiet {
                h2 {
                    font-size: 14px;
                }
                h5 {
                    font-size: 14px;
                }
                p {
                    font-size: 13px;
                }
            }
            .dang-ky {
                img {
                    max-width: 60%;
                }
            }
            .more {
                h2 {
                    font-size: 16px;
                }
                .nd-more {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}