$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

$color1:#004689;
%icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@font-face {
    font-family: 'GMVDino';
    src: url(../font/GMV_DIN_Pro.ttf);
}

%font1 {
    font-family: GMVDino;
}

.pc {
    @media #{$r414} {
        display: none;
    }
}

.mb {
    display: none;
    @media #{$r414} {
        display: block;
    }
}

.scrolltop {
    position: fixed;
    right: 20px;
    bottom: -4px;
    width: 305px;
    transition: ease-in-out 0.1s;
    color: #fff;
    display: flex;
    line-height: 35px;
    text-transform: uppercase;
    font-style: normal;
    opacity: 0.7;
    z-index: 15;
    @media #{$r414} {
        bottom: 140px;
        right: 5px;
        border-radius: 4px;
        ;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, .2);
    }
    img {
        width: 25px;
        height: 25px;
        margin: 5px auto;
        margin-right: 10px;
        @media #{$r414} {
            margin-right: 0;
        }
    }
    &:hover {
        opacity: 1
    }
    span {
        @media #{$r414} {
            display: none;
        }
    }
}

.regft {
    display: none;
    @media #{$r768} {
        display: flex;
        display: -webkit-flex;
        width: 100%;
        height: 60px;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        bottom: 0;
        z-index: 2;
        a {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin: 10px 0 10px 10px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            text-align: left;
            border-radius: 4px;
            font-size: 15px;
            font-weight: normal;
            text-transform: uppercase;
            padding-left: 20px;
            &:hover,
            &:focus {
                text-decoration: none;
            }
            &:nth-child(1) {
                background: $color1;
                box-shadow: 0px 3px 0px 0px #10384a;
            }
            &:nth-child(2) {
                background: #e23d3a;
                margin-right: 10px;
                box-shadow: 0px 2px 0px 0px #8f2725;
                @media #{$r375} {
                    font-size: 13px;
                    text-align: center;
                    padding-left: 0;
                    i {
                        display: none;
                    }
                }
            }
        }
    }
}

.refuse {
    position: fixed;
    bottom: 0;
    background: #0042A4;
    color: #fff;
    font-style: italic;
    width: 100%;
    padding: 5px 10px;
    z-index: 5;
    @media #{$r414} {
        position: inherit;
        text-align: center;
        padding: 10px 0;
        z-index: 0;
        margin-bottom: 25px;
        font-size: 13px;
    }
}

.footer_2_1_0 {
    background: url(../images/bg.jpg) center 0 no-repeat;
    padding: 40px 0 45px;
    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__box1 {
        &-logo {
            text-align: center;
            padding-top: 90px;
            img {
                width: 80%;
            }
        }
    }
    &__box2 {
        b {
            color: #67C5EA;
        }
        &-title {
            color: #fff;
            text-align: left;
            h3 {
                @extend %font1;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 22px;
            }
        }
        &__pic {
            padding-top: 30px;
            img {
                width: 100%;
            }
        }
        &__ct {
            padding-right: 20px;
        }
        &__item {
            display: flex;
            &.item1 {
                border-bottom: 1px solid #4F6C90;
                margin-bottom: 10px;
            }
        }
        &-Social {
            width: 80%;
            text-align: right;
            padding: 15px 0;
            padding-right: 40px;
            display: flex;
            @media #{$r1024} {
                width: 90%;
                padding: 15px 15px 15px 0;
            }
            a {
                display: inline-block;
                height: 38px;
                margin: 0 5px;
                background-repeat: no-repeat;
                background-image: url(../images/footer-icon.png);
            }
            &-zalo {
                background-position: -100px 9px;
                width: 30px;
            }
            &-facebook {
                background-position: 5px 9px;
                width: 40px;
            }
            &-youtube {
                background-position: -45px 10px;
                width: 40px;
            }
            &-insta {
                background-position: -144px 11px;
                width: 40px;
            }
            .boxtop__call-2 {
                background-color: #FF706F;
                border-radius: 10px;
                color: #fff;
                text-align: center;
                line-height: 43px;
                font-size: 18px;
                font-weight: 600;
                width: 174px;
                height: 43px;
                top: 60px;
                right: -60px;
                display: flex;
                &::before {
                    content: "";
                    background-image: url(../images/boxtop-call.png);
                    background-repeat: no-repeat;
                    width: 27px;
                    height: 27px;
                    display: block;
                    position: relative;
                    top: 7px;
                    margin-left: 20px;
                    margin-right: 10px;
                    @media #{$r1024} {
                        top: 0;
                        margin: 6px 10px 0 15px;
                    }
                }
                &:hover {
                    color: #fff;
                }
                &.active {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        &__DoiTac {
            ul {
                list-style: none;
                width: 100%;
                color: #fff;
                @media #{$r1024} {
                    width: 90%;
                }
                .fra {
                    position: relative;
                    margin-bottom: 8px;
                    &::before {
                        content: "";
                        display: block;
                        background-image: url(../images/flag-france.png);
                        background-repeat: no-repeat;
                        width: 47px;
                        height: 17px;
                        position: absolute;
                        left: -50px;
                        top: 3px;
                    }
                }
                .vn {
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        background-image: url(../images/flag-vn.png);
                        background-repeat: no-repeat;
                        width: 47px;
                        height: 17px;
                        position: absolute;
                        left: -50px;
                        top: 3px;
                    }
                }
            }
        }
        &__protect {
            padding-top: 40px;
        }
    }
}

@media #{$r1024} {
    .footer_2_1_0 {
        padding: 20px 0 45px;
        &__box2 {
            &-title {
                h3 {
                    font-size: 17px;
                }
            }
            &-Social {
                &-youtube {
                    width: 45px;
                }
            }
        }
    }
}

@media #{$r768} {
    .footer_2_1_0 {
        &__box {
            display: block;
        }
        &__box1 {
            &-logo {
                width: 20%;
                margin: 0 auto;
                padding-top: 0px;
                img {
                    width: 100%;
                }
            }
            &-Social {
                width: 100%;
                text-align: left;
                margin-top: 0px;
            }
            &__DoiTac {
                padding-left: 50px;
                padding-top: 0px;
            }
        }
    }
}

@media #{$r414} {
    .footer_2_1_0 {
        background: url(../images/bg-mb.jpg) center 0 no-repeat;
        padding: 20px 0 40px;
        &__box {
            padding-left: 5px;
        }
        &__box1 {
            &-logo {
                width: 40%;
                text-align: left;
                margin: 0;
            }
        }
        &__box2 {
            &__item {
                display: block;
            }
            &__pic {
                display: none;
            }
            &__ct {
                padding-right: 0;
            }
            &__protect {
                padding-top: 0;
            }
            &-Social {
                width: 100%;
                padding: 0 0 8px;
            }
            &__DoiTac {
                ul {
                    width: 100%;
                    font-size: 13px;
                }
            }
        }
    }
}

@media #{$r375} {
    .footer_2_1_0 {
        &__box2 {
            &-title {
                h3 {
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media #{$r320} {
    .footer_2_1_0 {
        &__box2 {
            &-title {
                h3 {
                    font-size: 15px;
                    margin-top: 5px;
                }
            }
            &-Social {
                .boxtop__call-2 {
                    font-size: 13px;
                }
                &-facebook {
                    background-position: 0px 9px;
                }
                &-youtube {
                    background-position: -47px 10px;
                }
                &-zalo {
                    background-position: -102px 9px;
                    width: 35px;
                }
            }
        }
    }
}