$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.cate_5_0_0{
    @extend %font1;
    img{
        width: 100%;
        display: block;
    }
    &_tabs{
        display: flex;
        justify-content: space-between;
        list-style: none;
        flex-wrap: wrap;
        padding-left: 0;
        .tab{
            width: 18%;
            text-align: center;
            text-transform: uppercase;
            background-color: #0155bc;
            color: #ffff;
            padding: 8px 20px;
            cursor: pointer;
            &:focus{
                outline: unset;
            }
            &.tns-nav-active{
               background-color: #21a1ed;
            }
        }
    }
    &_sub{
        padding-top: 40px;
        text-align: justify;
        img{
            margin: 10px 0;
        }
        span{
            font-style: italic;
            padding-left: 15px;
            color: #0055BC;
        }
        .sub_item{
            margin-bottom: 20px;
            display: block;
            .tt{
                color: #000;
                font-weight: 500;
            }
        }
    }
}
@media #{$r768}{
    .cate_5_0_0{
        &_tabs{
            .tab{
                padding:8px 10px;
            }
        }
    }
}
@media #{$r414}{
    .cate_5_0_0{
        &_tabs{
            justify-content: center;
            .tab{
                padding:8px 10px;
                width: 30%;
                margin: 5px;
                font-size: 14px;
            }
        }
        .col-md-3{
            flex: 0 0 50%;
            max-width: 50%;
        }
        &_sub{
            .sub_item{
                font-size: 14px;
            }
        }
    }
}
@media #{$r375}{
    .cate_5_0_0{
        &_tabs{
            .tab{
                padding:8px 0;
                font-size: 12px;
            }
        }
    }
}