$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

$color1:#004689;
a {
    text-decoration: none;
}

%icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.header_6_0_0 {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	position: fixed;
	z-index: 9;
	width: 100%;
	top: 0;
}
a {
	text-decoration: none;
}
.header_6_0_0_box_2__menu__menuSub {
	.arr {
		&::before {
			font-family: "fontello";
			font-style: normal;
			font-weight: 400;
			speak: none;
			display: inline-block;
			text-decoration: inherit;
			width: 1em;
			margin-right: .2em;
			text-align: center;
			font-variant: normal;
			text-transform: none;
			line-height: 1em;
			margin-left: .2em;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\e88f";
			display: none;
			position: absolute;
			bottom: 5px;
			left: 40px;
			text-align: center;
			color: #f16749;
		}
	}
	display: flex;
	align-items: center;
	border-top: 3px solid #EBECF0;
	padding: 8px 12px;
	.menu-icon {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		padding: 10px;
		width: 100%;
		height: 100%;
		text-align: right;
	}
	&:hover {
		border-top: 3px solid #0056A2;
		.header_6_0_0_box_2__menu__menuSubBox {
			display: block;
			animation: opac 0.4s;
		}
		>a {
			color: #0056A2;
		}
	}
}
.header_6_0_0_box_2__menu__menuSubBox {
	ul {
		li {
			a {
				&::after {
					font-family: "fontello";
					font-style: normal;
					font-weight: 400;
					speak: none;
					display: inline-block;
					text-decoration: inherit;
					width: 1em;
					margin-right: .2em;
					text-align: center;
					font-variant: normal;
					text-transform: none;
					line-height: 1em;
					margin-left: .2em;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content: "\e88d";
					display: block;
					position: absolute;
					right: 0;
					top: 5px;
				}
				color: #000;
				transition: 0.1s;
				border: none;
				font-size: 15px;
				&:hover {
					color: #0056A4;
					font-weight: 600;
				}
			}
			border-bottom: 1px solid #f1f1f1;
			padding-bottom: 5px;
			margin-bottom: 5px;
			position: relative;
		}
		list-style: none;
		padding-left: 0;
	}
	display: none;
	position: absolute;
	width: 100%;
	right: 0px;
	top: 60px;
	padding: 15px 25px;
	font-size: 1rem;
	color: #000;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	h4 {
		color: #307DAD;
		text-transform: uppercase;
		font-size: 16px;
		margin-top: 10px;
	}
}
.header_6_0_0_box_top {
	background: url(../images/boxtop-bg.jpg) center bottom no-repeat;
	position: relative;
	z-index: 2;
	width: 100%;
	min-height: 40px;
}
.header_6_0_0_box_top__new {
	text-align: center;
	padding-top: 8px;
}
.header_6_0_0_box_top__newlabel {
	font-weight: 400;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.header_6_0_0_box_top__newlabel.lb1 {
	display: none;
}
.header_6_0_0_box_1 {
	background-color: #fff;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.iconMid {
		display: none;
	}
}
.header_6_0_0_box_1_left {
	display: flex;
	align-items: center;
}
.header_6_0_0_box_1_right {
	display: flex;
	align-items: center;
}
.header_6_0_0_box_1__logo {
	height: 70px;
	padding-top: 8px;
	margin-right: 50px;
	position: relative;
}
.header_6_0_0_box_1__title {
	color: #00ABE5;
	h2 {
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 600;
		margin: 5px 0 0;
	}
	p {
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 600;
	}
}
.header_6_0_0_box_1__address {
	position: relative;
	ul {
		list-style: none;
		&::before {
			background: url(../images/icon1.png) 0 center no-repeat;
			content: "";
			position: absolute;
			top: 10px;
			left: -20px;
			width: 50px;
			height: 50px;
			background-size: 100%;
		}
		li {
			color: #000;
			font-size: 13px;
			b {
				font-size: 18px;
			}
		}
	}
}
.header_6_0_0_box_1__call {
	margin-left: 25px;
	text-align: center;
	position: relative;
	ul {
		list-style: none;
		&::before {
			background: url(../images/icon2.png) 0 center no-repeat;
			content: "";
			position: absolute;
			top: 20px;
			left: -3px;
			width: 35px;
			height: 35px;
			background-size: 100%;
		}
		li {
			color: #000;
			font-size: 13px;
			a {
				color: #000;
				font-weight: bold;
				font-size: 18px;
			}
		}
	}
}
.header_6_0_0_box_1__regtv {
	font-size: 14px;
	display: block;
	color: #fff;
	background: #0056A4;
	text-align: center;
	padding: 5px 20px;
	border-radius: 40px;
	margin: 0 15px;
}
.header_6_0_0_box_1__button {
	background: #6DCFF6;
	outline: none;
	color: #fff;
	cursor: pointer;
	border-radius: 100%;
	padding: 10px;
	border: none;
}
.header_6_0_0_box_2 {
	background-color: #EBECF0;
	padding: 0;
	.container {
		display: flex;
		align-items: center;
	}
}
.header_6_0_0_box_2__logosb {
	display: none;
	img {
		max-width: 90%;
		margin: 20px 0 0;
	}
}
.header_6_0_0_box_2__menu {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	.mntt {
		color: #fff;
		font-size: 15px;
		padding: 5px 0;
		text-transform: uppercase;
		border-bottom: 1px dotted #355b7d;
		position: relative;
		margin-bottom: 10px;
		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 70px;
			height: 3px;
			background: #fff;
		}
	}
}
.header_6_0_0_box_2__menu__menuSub.icon-homes {
	border-top: none;
	&:hover {
		border-top: none;
	}
}
.header_6_0_0_box_2__menu__title {
	padding: 0px 5px;
	display: block;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	position: relative;
	font-weight: 600;
	text-transform: uppercase;
}
.header_6_0_0_box_2__social {
	margin-left: 150px;
	display: flex;
	a {
		&:hover {
			transition: 0.4s;
			.header_6_0_0_box_2__social_pic {
				display: none;
				transition: 0.4s;
			}
			.header_6_0_0_box_2__social_pic2 {
				display: block;
				transition: 0.4s;
			}
		}
	}
}
.header_6_0_0_box_2__social_pic2 {
	display: none;
	transition: 0.4s;
}
.header_6_0_0_box_2.active {
	display: block;
	animation: animateleft 0.4s;
}
.header_6_0_0_box_3 {
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	content: "";
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	animation: opac 0.4s;
}
.header_6_0_0_box_3.active {
	display: block;
}
.header_6_0_0.menufix {
	background: #fff;
	.header_6_0_0_box_1 {
		display: none;
	}
	.header_6_0_0_box_2 {
		background-color: #fff;
	}
	.header_6_0_0_box_2__menu {
		margin: 10px 0;
	}
	.header_6_0_0_box_2__menu__menuSub {
		border: none;
		&:hover {
			border: none;
		}
	}
	.header_6_0_0_box_2__menu__title {
		color: #000;
	}
}
@media (max-width: 1366px) {
	.header_6_0_0_box_top__newlabel {
		font-size: 13px;
	}
}
@media (max-width: 1280px) {
	.header_6_0_0_box_top {
		min-height: 30px;
		background-size: 100%;
	}
	.header_6_0_0_box_top__new {
		padding-top: 6px;
	}
}
@media (max-width: 1024px) {
	.header_6_0_0_box_top__newlabel {
		line-height: 8px;
		font-size: 11px;
	}
	.header_6_0_0 {
		background-color: #fff;
		height: 65px;
		.container {
			padding: 0;
		}
	}
	.header_6_0_0_box_top__new {
		padding-top: 10px;
	}
	.header_6_0_0_box_1 {
		.container {
			justify-content: center;
			position: relative;
		}
		.iconMid {
			display: block;
			position: absolute;
			right: 0;
		}
		.siteHeaderNav {
			position: absolute;
			left: 0;
			color: #025A7E;
			font-size: 35px;
		}
		.siteHeaderCall {
			position: absolute;
			right: 0;
			color: #fff;
			font-size: 18px;
			width: 100px;
			height: 60px;
			text-align: center;
			line-height: 0px;
			border-radius: 5px;
			top: 15px;
			img {
				width: auto;
			}
			i {
				color: #0056A2;
				border: 2px solid #0056A2;
				padding: 7px 10px;
				border-radius: 100%;
				font-size: 14px;
				line-height: 36px;
			}
			button {
				border: none;
				background: none;
				i {
					color: #0056A2;
				}
			}
		}
	}
	.header_6_0_0_box_1__title {
		display: none;
	}
	.header_6_0_0_box_1_right {
		display: none;
	}
	.header_6_0_0_box_1__logo {
		text-align: center;
		width: 100px;
		margin: 0 auto;
		position: relative;
		display: block;
		img {
			position: absolute;
			top: 10px;
			left: -40px;
			height: 50px;
		}
		&::after {
			display: none;
		}
	}
	.header_6_0_0_box_1__search__icon {
		display: none;
	}
	.header_6_0_0_box_2 {
		display: none;
		width: 270px;
		background: #fff;
		position: fixed;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 3;
		overflow: auto;
		padding-bottom: 20px;
		.container {
			display: block;
			width: 270px;
		}
	}
	.header_6_0_0_box_2__logosb {
		text-align: center;
		display: block;
	}
	.header_6_0_0_box_2__menu {
		display: block;
		margin: 30px 0;
		.mntt {
			margin-bottom: 3px;
			margin-top: 3px;
			font-size: 14px;
			color: #f69679;
			&::before {
				display: none;
			}
		}
	}
	.header_6_0_0_box_2__menu__menuSub {
		position: relative;
		padding: 7px 0;
		border-bottom: 1px dashed #ccc;
		border-top: none;
		display: block;
		&:nth-child(1) {
			display: none;
		}
		&:last-child {
			border: none;
		}
		.menu-icon {
			display: block;
			font-size: 11px;
			color: #000;
		}
		.arr {
			&::before {
				display: none;
			}
		}
		a {
			border-top: none;
		}
		&:hover {
			border-top: none;
			display: block;
			animation: opac 0.4s;
			transition: 0.4s;
			>a {
				color: #0056A2;
				border-top: none;
			}
		}
	}
	.header_6_0_0_box_2__menu__menuSubBox {
		position: inherit;
		top: 0;
		right: 0;
		border-radius: 0;
		width: 100%;
		padding: 10px;
		background-color: #0055A4;
		border: none;
		.col-lg-4 {
			flex: 0 0 100%;
			max-width: 100%;
		}
		.col-lg-6 {
			flex: 0 0 100%;
			max-width: 100%;
		}
		ul {
			li {
				border-bottom: 1px dashed #ccc;
				a {
					color: #fff;
					padding: 0;
					border-top: none !important;
					font-size: 14px;
					&:hover {
						color: #fff;
						font-weight: 600;
					}
				}
			}
		}
		h4 {
			font-size: 14px;
			color: #fff;
			&::after {
				content: "";
				border-bottom: 2px solid #307DAD;
				display: block;
				width: 70px;
				padding-top: 5px;
			}
		}
	}
	.header_6_0_0_box_2__menu__title {
		text-align: left;
		padding: 5px 10px;
		br {
			display: none;
		}
	}
	.header_6_0_0_box_2__social {
		margin-left: 0;
		justify-content: center;
	}
	.header_6_0_0.menufix {
		.header_6_0_0_box_1 {
			display: block;
		}
	}
}
@media (max-width: 812px) {
	.header_6_0_0_box_top__newlabel {
		display: none;
	}
	.header_6_0_0_box_top__newlabel.lb1 {
		display: block;
	}
	.header_6_0_0_box_top {
		min-height: 23px;
	}
}

@media (max-width: 414px) {
	.header_6_0_0_box_top {
		background: url(../images/boxtop-bg-m.jpg) center bottom no-repeat;
		min-height: 24px;
	}
	.header_6_0_0_box_top__new {
		padding-top: 8px;
	}
	.header_6_0_0_box_top__newlabel {
		font-size: 12px;
	}
	.header_6_0_0_box_1__logo {
		img {
			top: 10px;
			left: -10px;
			height: 40px;
		}
	}
	.header_6_0_0_box_1__title {
		color: #62D4FF;
		position: absolute;
		top: 90px;
		display: flex;
		left: 0;
		width: 100%;
		justify-content: center;
		align-items: center;
		background-color: #131439;
		padding: 5px 0;
		h2 {
			font-size: 13px;
			margin-top: 0;
			padding-right: 10px;
			margin-right: 10px;
			border-right: 1px solid #62D4FF;
		}
		p {
			margin-bottom: 0;
		}
	}
	.header_6_0_0_box_1 {
		.siteHeaderNav {
			left: 10px;
			font-size: 30px;
		}
		.header_6_0_0_box_1__siteHeaderCall {
			right: 0px;
			height: 40px;
			img {
				width: 80%;
			}
			i {
				color: #0056A2;
				border: 2px solid #0056A2;
				padding: 5px 7px;
				border-radius: 100%;
				font-size: 14px;
				line-height: 30px;
			}
		}
	}
	.header_6_0_0_box_2__menu__menuSubBox {
		ul {
			li {
				font-size: 13px;
			}
		}
	}
	.header_6_0_0_box_2__social {
		a {
			.header_6_0_0_box_2__social_pic {
				display: none;
			}
			.header_6_0_0_box_2__social_pic2 {
				display: block;
			}
		}
	}
}
@media (max-width: 375px) {
	.header_6_0_0_box_1 {
		.siteHeaderNav {
			left: 10px;
			font-size: 28px;
		}
		.header_6_0_0_box_1__siteHeaderCall {
			right: -10px;
			height: 30px;
			font-size: 16px;
			img {
				width: 80%;
			}
		}
	}
}
@media (max-width: 320px) {
	.header_6_0_0_box_top {
		min-height: 21px;
		background-size: 100%;
	}
	.header_6_0_0_box_top__new {
		padding-top: 6px;
	}
	.header_6_0_0_box_top__newlabel {
		font-size: 11px;
	}
	.header_6_0_0_box_1 {
		.header_6_0_0_box_1__siteHeaderCall {
			right: -6px;
		}
	}
}
