$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
%font1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

$color1:#004689;
%icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slider_1_0_5 {
	padding-top: 170px;
	.disabled {
		background: none !important;
		cursor: unset !important;
	}
	.tns-outer{
		position: relative;
	}
	.tns-controls [aria-controls]{
		position: absolute;
		top: 50%;
		background: none;
		color: #ccc;
		font-size: 25px;
		padding: 5px;
		&:nth-child(1){
			left: 0;
		}
		&:nth-child(2){
			right: 0;
		}
	}
	&__item{
		img{
			width: 100%;
			display: block;
		}
	}

}
@media (max-width: 1280px) {
	.slider_1_0_5 {
		padding-top: 165px;
	}
}
@media (max-width: 1024px) {
	.slider_1_0_5 {
		padding-top: 100px;
	}
}
@media (max-width: 768px) {
	.slider_1_0_5 {
		.tns-controls [aria-controls]{
			top: 35%;
		}
	}
}

