$r1440: "(max-width:1440px)";
$r1366: "(max-width:1366px)";
$r1280: "(max-width:1280px)";
$r1024: "(max-width:1024px)";
$r768: "(max-width:812px)";
$r414: "(max-width:414px)";
$r375: "(max-width:375px)";
$r360: "(max-width:360px)";
$r320: "(max-width:320px)";
$main:#00619b;
$color1:#004689;
a {
    text-decoration: none;
}

@font-face {
    font-family: 'GMVDino';
    src: url(../font/GMV_DIN_Pro-Cond_Medium.ttf);
}

%font1 {
    font-family: GMVDino;
}

%icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.commit_3_0_0 .commit_3_0_0_overlay {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAAMFBMVEX///8HBwcICAgUFBQXFxcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABuanbkAAAAQUlEQVR4nOzOoQ0AIBDF0K5QNiC3wYUN2H8nJPkai6l5prSOdcPU2jckN8mTZEmWZEmW5EFy8f+e/g4AAAD//wMAKnM4yCLdBHkAAAAASUVORK5CYII=);
}

.commit_3_0_0_box #commit_3_0_0_closePopup {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMBJREFUeNqc0z0KAjEQhuFx8E5qrqFeQdBCu0WwF2zsxd7fG+QCC+reyW8kgRjza+DdIksedgLb01rfiWiPWqpfA9QwHjt0QaM/gJucF+SFxpWQBabowWbTQucC6AuQDXZeCjTJQD+Aj+SgIBBCfEjlgBjiQie0SAGy+okLFGiLDmgeA1JfYkfYoBlaO6MVI0Mzgox0dEZTpYgAV3PwGbgjlUNCAOUgLgSSEFcAUYgrAfL+tQ8kyKoSsKsz0PItwAC6cz7Ubz7EKgAAAABJRU5ErkJggg==);
}

.commit_3_0_0 {
    font-size: 14px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: none;
    position: fixed;
    z-index: 16;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.commit_3_0_0_block {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commit_3_0_0 .commit_3_0_0_overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.7;
}

.commit_3_0_0_box article {
    z-index: 10;
    margin: 0px auto;
    width: 400px;
    position: relative;
    border-radius: 4px;
    @media #{$r1024} {
        width: 350px;
    }
}

@media (max-width: 320px) {
    .commit_3_0_0_box article {
        width: 300px;
    }
}

.commit_3_0_0_box #commit_3_0_0_closePopup {
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    top: -18px;
    right: -24px;
    transition: all 0.5s ease 0s;
    font-family: arial;
    @media #{$r414} {
        right: -10px;
    }
    @media #{$r375} {
        right: 0px;
        top: -30px;
    }
}

.commit_3_0_0_box #commit_3_0_0_closePopup:hover {
    transform: rotate(360deg);
}

.commit_3_0_0 {
    @extend %font1;
    display: none;
    z-index: 16;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    &__box {
        background: #0165CD;
        padding: 20px 20px 30px;
        border-radius: 8px;
        color: #fff;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            @extend %font1;
            text-transform: uppercase;
            font-size: 30px;
            margin-top: 0;
            text-align: center;
            line-height: 1.3;
        }
        select {
            width: 100%;
            text-align: center;
            text-align-last: center;
            padding: 5px;
            background-color: #6DCFF6;
            border: none;
            border-radius: 6px;
            font-size: 18px;
            font-weight: 600;
        }
        option {
            text-align: left;
        }
        &__item {
            background-color: #fff;
            margin-top: 10px;
            min-height: 350px;
            border-radius: 6px;
            .scrollbar {
                float: left;
                height: 220px;
                width: 300px;
                overflow-y: scroll;
            }
            .force-overflow {
                min-height: 320px;
            }
            #style-1::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 15px;
                background-color: #F5F5F5;
            }
            #style-1::-webkit-scrollbar {
                width: 5px;
                background-color: #F5F5F5;
            }
            #style-1::-webkit-scrollbar-thumb {
                border-radius: 15px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                background-color: #0055A4;
            }
        }
        &__sub {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            a {
                &:hover {
                    color: #0055A4;
                }
            }
            .address {
                width: 50%;
            }
            .icon__call,
            .icon__time {
                width: 24%;
                padding-top: 22px;
                position: relative;
            }
            .icon__call {
                &::before {
                    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAbCAMAAABY1h8eAAAAilBMVEUAAAAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyAjHyB0XzFUAAAALXRSTlMAHQT56dwrSpxvXcGU8u3jVjINypFBJyPUr0U3z7qniHxi2LSsEmQ8FxG5oWgYWmyIAAABTElEQVQoz2WS2WKDIBBFr4DgGrdEszdp1i73/3+vMok1recNjoPDZfDLYt7kZN7MF/hPEpJ6u9ttNRkmf1SQUkcLhR61iDTTYHSV4eplGaxoKjyxM8Z4cF7uEwXEnFkIdcgEUJVDv7svaPpVwrAWmfENcDP68uN3e0sZKbxx7l2n3xWsJmkUTmRqD8yg3nUnhSUQ0XMDPq6Fdod+q5RS0xdg6Z3eAL1Oc9uEShkD1Iwg0qxrCBdzcnSIWCPgEcCezDs8iRnMMhwZoOUagCMZDjl0LD9TrNnCUsI4vVi1cvEcG9pnJS6+paLDiGMr//QExbPWNZF0feBduh0SFvtF+siw1epxT2GT+5MT/03jTz0PCY1WyHAvaIdsH9iCgq7aJQ/jqzy4nEWu9prZy3sOrFPRYTmZBCEo42uFyQxNmEzfyGRu46kZJ36HV34ACq0lLm3MlDMAAAAASUVORK5CYII=') center 0 no-repeat;
                    background-size: 100%;
                    position: absolute;
                    top: 0px;
                    left: 10px;
                    display: block;
                    content: '';
                    width: 23px;
                    height: 23px;
                }
                &:hover {
                    &::before {
                        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAbCAMAAABY1h8eAAAAflBMVEUAAAAAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQ4jNU4AAAAKXRSTlMABB352+krJkqcb11B0sGU8uPLVjIN7a2RujeniHxktBKwYkU8FxGhaI68XzgAAAFKSURBVCjPZZLZdoMwEEPlDQyEHUL2tFna6v9/sGYCh7Tct7GQjpEHM2qzayqyanYbhX9kljT5fp8b0mZ/JF3QJMEhCYlhoRetcxzeRj3QdfMQbZnixZAfsxCQchtB6C2zENd5hNNjTRemjLYXseQJ8I6j/fYTPwomCifuEIiNVYgMSadwJYvozBLKmliMLZBw5AF8XWrjz+GoFasLBuQMmAMQ5KKKGquUc0DPBCK6ew/hw109fQjroXkJB0eyijGRUm9LXKgRcxNmT9LquQS2+wIbxogoZVzfVPXp0x0OjCYnPnKSdYwFH5yat1dWPXl9k8itz3zKbeeGRf0meQpzY9TrP4VDNSZn4zfNmDrMDS2qUOJZM5q7nZJrCqaLc56XV5nKGUT8PBqWb+85cy9Etu1qEwTdppcOqx1asdq+hdXepmtl2fg93vkFd3ohwQqMlhAAAAAASUVORK5CYII=') center 0 no-repeat;
                        content: '';
                        background-size: 100%;
                        position: absolute;
                        top: 0px;
                        left: 10px;
                        display: block;
                        width: 23px;
                        height: 23px;
                    }
                }
            }
            .icon__time {
                &::before {
                    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAdCAMAAAB/hKeOAAAAmVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAjHWqVAAAAMnRSTlMAQICw4dBwUDDwH/ygD8EW+OrUj3UE87SpDOTax5aJYFpNPjgrEwi8pJuTamRVSBuEaZANRuwAAAEDSURBVCjPZc/pcoMgFIbhD4JaBIxb1OyLS/ak5f4vrtCQqu07/GCegZlz4Mr5kmDcU2/Xy5FMN6W+Z7H0Z28Iw6OXVYKvLwkNQ2Voo01boJsB0lzjAIh3SjFv8hM7KbUuAU2AO3XVAI2szc/eoCR5GPMX/jCZGKMTYGbPK6JfdtHME950aI0Otv4h/ZyfpcydBQlMWdVtsuzm7BFbk9LuNHc2FWSfq8VXq7VeOcMp1TzlavgOT3a8id14FuD/fA2xhWgGlnKbbBddb329HQLbAagJ8Z1FzLbCVXAuivFfGmEf07+2EysYy5fBu6oQaWStLdlv3p4aK/KPUVUJXAs9itX4BrT6HVEWJdgIAAAAAElFTkSuQmCC') center 0 no-repeat;
                    background-size: 100%;
                    position: absolute;
                    top: 0px;
                    left: 18px;
                    display: block;
                    content: '';
                    width: 16px;
                    height: 25px;
                }
                &:hover {
                    &::before {
                        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAdCAMAAAB/hKeOAAAAilBMVEUAAAAAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaQAVaRd3ZgyAAAALXRSTlMAQICwT+BwMND78R/AoBcPBu7jqJFzYQvUzYpa9tnHaT44KxPotpuWlXpUSIS7SVg/AAAA/klEQVQoz2XQ13KEIBSA4aOLRlBExd7L9g3v/3o5ZEmU5B8vnG/oYCpSzwG7UJX3wZK4vahnS3mR/EAYRkEuaXrLUzcMBVKrsBIgwTEcfykBoJ0QWXP6LpNC3C4ACrfrXNMC4EbaqmsT7J3TF5qf+cd4iuaecAf9vXPU2+4qa2gQH21VpPTn+rO6cv4wRs6A5TJp87w09uq1ca7vVBmLqUMKkU0b3mM0BnJQac3EcRzEXlTSzj4L9u98q6MLYT1YzXR8y6rd9nabiW4GWBzHNxZ5uhEmyhjt7bn4oKR//LWOjoBWDE9ikozWkbbt5P3WEBeNFR9WEleamLLyFvgCk2Aa9ErwR34AAAAASUVORK5CYII=') center 0 no-repeat;
                        background-size: 100%;
                        position: absolute;
                        top: 0px;
                        left: 18px;
                        display: block;
                        content: '';
                        width: 16px;
                        height: 25px;
                    }
                }
            }
        }
    }
}

@media #{$r1024} {
    .commit_3_0_0 {
        &__box {
            article {
                width: 350px;
            }
            h3 {
                font-size: 28px;
            }
            &__item {
                min-height: 300px;
                .scrollbar {
                    width: 265px;
                }
                #style-1::-webkit-scrollbar {
                    width: 3px;
                }
            }
            &__sub {
                margin-bottom: 20px;
                .address {
                    width: 100%;
                }
                .icon__call,
                .icon__time {
                    width: 50%;
                    text-align: center;
                    &::before {
                        left: 40%;
                    }
                    &:hover {
                        &::before {
                            left: 40%;
                        }
                    }
                }
            }
        }
    }
}

@media #{$r768} {
    .commit_3_0_0 {
        &__box {
            select {
                padding: 4px;
                font-size: 14px;
            }
            &__item {
                min-height: 300px;
                .scrollbar {
                    width: 230px;
                    height: 180px;
                }
            }
            &__sub {
                font-size: 13px;
            }
        }
    }
}

@media #{$r414} {
    .commit_3_0_0 {
        &__box {
            width: 100%;
            margin: 30px auto;
            h3 {
                font-size: 25px;
            }
            select {
                padding: 8px;
                font-size: 18px;
            }
            &__item {
                min-height: 260px;
                .scrollbar {
                    width: 100%;
                    height: 200px;
                }
            }
            &__sub {
                font-size: 14px;
                .address {
                    width: 40%;
                }
                .icon__call,
                .icon__time {
                    width: 30%;
                    text-align: center;
                    &::before {
                        left: 40%;
                    }
                    &:hover {
                        &::before {
                            left: 40%;
                        }
                    }
                }
            }
        }
    }
}

@media #{$r375} {
    .commit_3_0_0 {
        &__box {
            select {
                padding: 5px;
                font-size: 16px;
            }
        }
    }
}

@media #{$r360} {
    .commit_3_0_0 {
        &__box {
            &__item {
                min-height: 300px;
            }
        }
    }
}

@media #{$r320} {
    .commit_3_0_0 {
        &__box {
            h3 {
                font-size: 25px;
            }
            &__item {
                min-height: 250px;
            }
        }
    }
}